<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Deep Learning on Brains</h5>
                <p class="grey-text text-lighten-4">Group project using state of the art Deep Learning techniques to
                    perform segmentation and prediction tasks on neonatal brains.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/about/">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url "main:account" %}">Admin</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url "main:homepage" %}">Homepage</a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="https://gitlab.doc.ic.ac.uk/aw1912/deepl_brain_surfaces">GitLab</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url "main:lookup" %}">Look-up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright
            <a class="grey-text text-lighten-4 right" href="https://www.imperial.ac.uk/">Group Project at Imperial
                College London</a>
        </div>
    </div>
</footer>