<nav class="nav-extended">
    <div class="nav-wrapper imperial blue">
        <ul id="nav-mobile">
            <a href="{% url "main:homepage" %}" class="left flow-text">BrainSurfaceToolKit</a>
        </ul>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li class="right"><a href="{% url "main:homepage" %}">Home</a></li>
            {% if user.is_authenticated %}
                <li class="right"><a href="{% url "main:account" %}">{{ user.username }}</a></li>
                <li class="right"><a href="{% url "main:logout" %}">Logout</a></li>
            {% else %}
                <li class="right"><a href="{% url "main:register" %}">Register</a></li>
                <li class="right"><a href="{% url "main:login" %}"><strong>Login</strong></a></li>
            {% endif %}
        </ul>
    </div>
</nav>