/* NAV BAR SETTINGS */
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}
/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
/* END OF NAV BAR SETTINGS */


body {
  background-color: powderblue;
}

.parent{

  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: space-evenly;
  align-items: center;



  min-height: 100%;
  min-width: 100%;
  background-color: black;

}

.feat-box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;

  float: left;
  float: right;
  position: relative;

  width: 30vh;
  height: 20vh;
}

.text-box {
  /* Line below causes text box to fill available space of parent cell */
  display: flex;
  flex: 1 100vh;
  justify-content: center;
  align-items: center;

  background-color: green;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;

  min-height: 50%;
  min-width: 100%;
  background-color: purple;
}

.classify {

  color: blue;

  width: 30vh;
  height: 30vh;
  /* float: left;
  float: right; */


  background-color: red;
}
