{% extends "main/header.html" %}
{% load static %}

{% block title %} Home{% endblock %}

{% block content %}
    <h4 class="flow-text">Home</h4>

    <div id="rotating_brain" class="gif-brain">
        <img id="brain-img" draggable='false' src="{% static "main/gifs/rotate-min.gif" %}" alt="Rotating Brains" style="height: 100%; width: 100%; object-fit: contain;">
    </div>

    <div class="row">
        {% for page in options %}
            {% if forloop.last and not forloop.counter|divisibleby:2%}
                <div class="col offset-s3 s6">
            {% else %}
                <div class="col s12 m6">
            {% endif %}
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ page.page_title }}</span>
                        <p>{{ page.page_summary|safe }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ page.page_slug }}">Visit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}