{% extends "main/header.html" %}

{% block title %}LoadData{% endblock %}

{% block content %}
    <h1>Do you want to reset the databases?</h1>
    <br>
    <h2>WARNING: This will wipe the existing databases first!</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
        <button class="waves-effect waves-light btn-small" type="submit" name="load_data">Reset!</button>
        <br>
        <label>
            <input type="checkbox" name="reset_upload_database"/>
            <span>Also Reset Upload Session Database</span>
        </label>
    </form>
{% endblock %}