{% extends "main/header.html" %}

{% block title %} Lookup{% endblock %}

{% block content %}
    <div class="small-container">
        <h4 class="flow-text">Lookup</h4>
        <br>
        <form id="lookup-form" method="post">
            <div class="input-field">
                <div>
                    <label>
                        <span>Select Session ID:</span>
                        <select id="dropdown-session-id" name="selected_session_id">
                            <option hidden="" selected disabled class="text-blue">Session ID</option>
                            {% for session_id in session_ids %}
                                <option value={{ session_id }}>{{ session_id }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <div class="right">
                <label>
                    <input id="display-mri" name="display-mri" type="checkbox" class="filled-in" disabled/>
                    <span>Display raw MRI slices?</span>
                </label>
            </div>

            <div class="left">
                <button id="look-up-btn" class="waves-effect waves-green btn-small imperial blue"
                        type="submit"
                        form="lookup-form">Go
                </button>
            </div>

        </form>
    </div>

    <script type="text/javascript">

        document.getElementById("dropdown-session-id").addEventListener('change', function () {
            const selected_index = document.getElementById("dropdown-session-id").selectedIndex;
            const checkbox = document.getElementById("display-mri");

            if ({{ mri_mask|safe }}[selected_index-1]) {
                checkbox.removeAttribute("disabled");
            } else {
                checkbox.setAttribute("disabled", "disabled");
            }
        });

        {#document.addEventListener('DOMContentLoaded', function () {#}
        {#    const instance = document.querySelectorAll('select');#}
        {#    let options = {dropdownOptions: {"hover": true}};#}
        {#    M.FormSelect.init(instance, options);#}
        {#);#}

        $(document).ready(function () {
            document.getElementById("look-up-btn").addEventListener("click", function () {
                $("#loader-wheel").fadeIn();
            }, false);
        });
    </script>
{% endblock %}


